<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<insert id="insert" parameterType="usersDto">
		INSERT INTO play_member
		(id, pwd,  regdate)
		VALUES(#{id}, #{pwd}, SYSDATE)
	</insert>
	<select id="getData" parameterType="string" 
				resultType="usersDto">
		SELECT id, pwd, profile, regdate
		FROM play_member
		WHERE id=#{id}
	</select>
	
	<update id="update" parameterType="usersDto">
		UPDATE play_member
		SET  profile=#{profile}
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="string">
		DELETE FROM play_member
		WHERE id=#{id}
	</delete>		
</mapper>









